#browse-section{
    margin-top: 5rem;
}

.bwrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
}

.address{
    font-weight: bold;
}

.location img{
    width: 1rem;
}

.owner img{
    width: 1rem;
}

.hprice{
    position: absolute;
    right: 0.5rem;
    bottom: 3.5rem;
}

.card-body{
    position: relative;
}

.orderbtn{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.container_parents{
    display: flex;
    /* margin: 100px; */
}

.container_left{
    flex:1;
}

.container_mid{
  
    flex:4;

}

.container_right{
    flex:0.5;
}

.promotion{
    margin-top: 2rem;

}

.promotion a{
    color: rgb(23, 23, 29);
}

.promotion img{
    width: 1rem;
    position: relative;
    bottom: 1px;
}

@media (min-width: 1600px) {
    .container_parents{
        margin: 10%;
    }
}