#browse-section{
    margin-top: 5em;
}

.bwrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 1em;
}

.address{
    font-weight: bold;
}

.location img{
    width: 1em;
}

.owner img{
    width: 1em;
}

.hprice{
    position: absolute;
    right: 0.5em;
    bottom: 2em;
}

.card-body{
    position: relative;
}

.orderbtn{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 1em;
    right: 1em;
}