#browse-section{
    margin-top: 5em;
}

.bwrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 1em;
}

.address{
    font-weight: bold;
}

.location img{
    width: 1em;
}

.owner img{
    width: 1em;
}

.orderbtn{
    display: flex;
    justify-content: end;
}