.bgblur {
    z-index: -1;
    position: fixed;
    width: 110%;
    top: -10px;
    left: -10px;
    /* filter: blur(10px); */
}

.listing-main-title{
    margin: 3em 15% 2em 15%;
    font-size: 3em;
}

.listing-title{
    /* backdrop-filter: blur(10px);
    border-radius: 15px; */

    padding: 0.5em 0.5em 0 0.5em;

}

.titlebtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebtn a, .titlebtn button{
    margin-right: 1em;
}

#myaccount{
    margin: 5em 15%;

    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.2);
}

#myorders{
    margin: 5em 15%;

    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.2);
}

.account-entry{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.account-entry h3{
    margin: 0.5em;
}

#mylistings{
    margin: 5em 15%;

    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.2);
}

.listing-entry{
    /* backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 15px; */

    display: flex;
    margin-top: 2em;
}

.entry-image{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.entry-desc{
    margin-top: 1em;
    margin-left: 1em;
    text-align: justify;
    flex-grow: 2;
}

.entry-info{
    margin-left: 1em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.location{
    width: 1em;
}

.nolistings{
    margin: 0.5em;
}

form{
    margin-bottom: 0.5em;
}